/*css*/

/*balise html*/
body{
	width:100%;
	height:100%;
	background-color:#FBFBFB;
}

/*id*/
#chi{
	height:150px;
	width:200px;
	position:fixed;
	top:100px;
	left:-190px;
	z-index:-1;
}

#teck{
	height:80px;
	width:60px;
	position:fixed;
	bottom:20px;
	left:-30px;
	z-index:10;
	opacity:50%;
}

#formauthen{
	right: 20px;
}

/*classe*/
.alertParam{
	position:fixed;
	bottom:0px;
}

.griffin{
	visibility:hidden;
}
.notGriffin{
	visibility: visible;
}
