/*css*/

/*balise html*/
body{
	width:100%;
	height:100%;
	background-color:#FBFBFB;
}

/*id*/
#chi{
	height:150px;
	width:200px;
	position:fixed;
	top:100px;
	left:-190px;
	z-index:-1;
}

#formauthen{
	right: 20px;

}

/*classe*/
.alertParam{
	position:fixed;
	bottom:0px;
}
